body {
    background: linear-gradient(lightgray, lightgray, rgba(0, 0, 0, 0.614));
    background-size: cover;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
}

.image {
    position: relative;
    width: 100%;
    max-width: 50px;
}

.image img {
    width: 210px;
    height: 260px;
    float: left;
    /* margin-left: 450px; */
    /* margin-top: 150px; */

}

.container {
    font-size: 40px;
    /* margin-left: 450px; */
    width: 210px;
    background-color: white;
    color: black;
    border: none;
}

.imge {
    position: relative;
    width: 100%;
    max-width: 50px;
}

.imge img {
    width: 210px;
    height: 260px;
    float: left;
    /* margin-left: 350px;
        margin-top: 150px; */

}

.contain {
    font-size: 40px;
    /* margin-left: 350px; */
    width: 210px;
    background-color: white;
    color: black;
    border: none;
}

.firsttt {
    width: 90%;
    height: 700px;
    display: flex;
    gap: 320px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container:hover {
    cursor: pointer;
    color: #190eea;
}

.contain:hover {
    cursor: pointer;
    color: #190eea;
}

@media screen and (max-width:484px) {
    .firsttt {
        width: 70%;
    }
}
