@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.u_img img
{
   width: 300px;
   height: 350px;
}
.team_section
{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap:50px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.user
{
    width: 300px;
}
.team-content{
    padding: 20px 0;
    background: #fff;
}
.title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #2a4284;
    text-transform: capitalize;
}
.post{
    text-align: center;
    display: block;
    font-size: 15px;
    color:  #f76c5e;
    text-transform: capitalize;
}
.team-content i
{
    background: black;
    color: black;
}
.social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #318D44;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  /*  */

  nav img {
    width: 100px;
    height: 70px;
    /* margin-left: -34px; */
    overflow: hidden;
}

.navbar {
    background-color: #37517e;
}

/* Navigation Bar: List Styling */

.navbar ul {
    margin: 0px 0px 0px 427px;
    display: flex;
    font-size: large;
}

.navbar ul li {
    margin-right: 20px;
    color: #0000008c;
    font-family: 'Arima', cursive;
    font-family: 'Fredoka One', cursive;
}
.navbar a{
    font-family: 'Poppins', sans-serif;
    color: white !important;
}
.navbar ul li a:hover{
    text-decoration: underline;
}
.nav-item button
{
    background: none;
    border-radius: 40px;
    border: 2px solid white;

}