@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');/*  */

  nav img {
    width: 100px;
    height: 70px;
    /* margin-left: -34px; */
    overflow: hidden;
}

.navbar {
    background-color: #37517e;
}

/* Navigation Bar: List Styling */

.navbar ul {
    margin: 0px 0px 0px 427px;
    display: flex;
    font-size: large;
}

.navbar ul li {
    margin-right: 20px;
    color: #0000008c;
    font-family: 'Arima', cursive;
    font-family: 'Fredoka One', cursive;
}
.navbar a{
    font-family: 'Poppins', sans-serif;
    color: white !important;
}
.navbar ul li a:hover{
    text-decoration: underline;
}
.nav-item button
{
    background: none;
    border-radius: 40px;
    border: 2px solid white;

}


/*  */
/* 
 */

 .slider_container
 {

   /* background: url("https://images.unsplash.com/photo-1578583316094-043603e4386c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"); */
   height: 790px;
   backdrop-filter: blur(50px);
   
 }
 @keyframes fade {
   from {
     opacity: 0.4;
   }

   to {
     opacity: 1;
   }
 }

 #slider {
   margin: 0px auto;
   width: 80%;
   height: 600px;
   overflow: hidden;
   padding: 10px;
   background: white;
   border-radius: 23px;
   border: 3px solid black;
   margin-top: 20px;

 }

 .slides {

   overflow: hidden;
   animation-name: fade;
   animation-duration: 1s;
   display: none;
 }

 .about_img {
   width: 100%;
   height: 550px;
 }

 #dot {
   margin: 0 auto;
   text-align: center;
 }

 .dot {
   display: inline-block;
   border-radius: 50%;
   background: #d3d3d3;
   padding: 8px;
   margin: 10px 5px;
 }


 @media (max-width:567px) {
   #slider {
     width: 100%;

   }
 }

 /* @media (max-width:371px) {
   h1 {
     margin-left: 33%;
   }
 } */
#about .active{
 background-color: black;
}

 #heading {
   display: block;
   text-align: center;
   font-size: 4em;
   margin: 15px 0px;
   margin-top: -48px;


 }

 .main_heading {
   /* margin-top: -30px; */
   padding: 30px 2px 2px 2px ;
   font-weight: 500;
   margin-left: 4%;
   text-align: center;
   text-transform: uppercase;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 70px;
   color: #160101;
   text-shadow: 1px 1px 1px #000000,
     1px 2px 1px #919191,
     1px 3px 1px #919191,
     1px 4px 1px #919191,
     1px 5px 1px #919191,
     1px 6px 1px #d8d3f0,
     1px 7px 1px #ddd9f7,
     1px 8px 1px #919191,
     1px 9px 1px #919191,
     1px 10px 1px #919191,
     1px 18px 6px rgba(16, 16, 16, 0.4),
     1px 22px 10px rgba(16, 16, 16, 0.2),
     1px 25px 35px rgba(16, 16, 16, 0.2),
     1px 30px 60px rgba(16, 16, 16, 0.4);
 }

 #aboutteam
 {
    background: linear-gradient(lightgray, lightgray, rgba(0, 0, 0, 0.614));
   
 }

 /*  */

 .navbar-brand
 {
    font-size: 30px;
    /* text-decoration: underline; */
    text-transform: uppercase;
    /* font-family: 'Merriweather', serif; */
 }


 .arrow-1 {
  width:100px;
  height:30px;
  color: white;
  display: flex;
}
.arrow-1:before {
  content: "";
  background: currentColor;
  width:15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: a1 1.5s infinite linear;
}
@keyframes a1 {
  90%,100%{flex-grow: 1}
}


/*  */
 .arr
 {
   display: flex;
   gap:10px;
   width: 50%;
   margin: auto;
 }
 @media screen and (max-width:659px)
 {
  .par
  {
    padding-left: 0rem !important;
  }
  #cont_heading
  {
    padding-left: 0rem !important;
  }
  .univ_name
  {
    padding-left: 0rem !important;
  }
  .cn{
      width: 280px !important;
  }
 }
 @media screen and (max-width:423px)
 {
  .cn{
    width: 280px !important;
    height: 40px;
}
}