@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  footer
  {
    height: 40px;
  }
  body{
    font-family: montserrat;
    background: linear-gradient(lightgray, lightgray, rgba(0, 0, 0, 0.614));
    /* background: #9CB4CC; */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  h2{
    font-family: 'Kanit', sans-serif !important;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  pre{
    width: 100%;
  }
  h3
  {
    font-family: 'Kanit', sans-serif;
    margin-top: 25px;
    width: 220px;
  }
  img{
    padding: 5px;
    height: 84px;
    width: 84px;
    border-radius: 50%;

}
  .first1 textarea{
    
    width: 100%;
    /* resize: none; */
    height: 10rem;
    padding: 12px 12px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    line-height: 30px;
    /* overflow-x: scroll; */
    outline: none;
  }
  #usersession{
    padding: 11px 0px 0px 0px;
    width: 130px;
  }
  .first1
{
background-color: white;
  /* background-color: rgb(247, 255, 205); */
    height: fit-content;
    width: 900px;
    margin: auto;
    /* margin-left: 125px; */
    margin-top: 35px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    /* overflow: hidden; */
    /* transition: 1s; */
    /* overflow-x: scroll; */
}
/* .first1:hover{
  transform:scale(1.1);
  z-index: 2;
  box-shadow: 2px 2px solid #000;
} */
.inner{
  height: 80px;
  width: 80%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(247, 255, 205); */

}

.icons1{
  margin-top: 40px;
  /* margin-right:20px ; */
  float: right;
  display: flex;
  cursor:pointer;
  margin-left: 450px;
  
 
}
.fa-brands
{
    margin-left: 5px;
    margin-right:5px;
    width: 30px;
    color: #37517e;
    border-radius: 5px;
    font-size:xx-large;
}
hr{
  margin-top: 30px;
  color: #37517e;
}

  
  .p1
  {
    float: right; 
    color: rgb(243, 219, 219);
    font-size: 17px;
    padding: 7px 13px; 
    border-radius: 3px; 
    text-transform: uppercase;
  }
  
@media screen and (max-width:1100px),(orientaion:landscape) {
  .first1
  {
  width: 700px;
}
.icons1{
margin-top: 40px;
margin-left:300px ;
float: right;
display: flex;
cursor:pointer;
font-size: large;

}
    
}
@media screen and (max-width:900px),(orientaion:landscape) {
  .first1
  {
  width: 550px;
}
.icons1{
margin-top: 40px;
margin-left:150px ;
float: right;
display: flex;
cursor:pointer;
font-size: large;

}
@media screen and (max-width:591px)
{
  .icons1
  {
    margin-left: -10px;
  }
}
@media screen and (max-width:403px)
{
  .icons1
  {
    margin-left: -10px;
  }
   .icons1 a i
   {
    font-size: 20px;
   }
}
@media screen and (max-width:395px)
{
  #usersession
  {
    font-size: 10px;
  }
  .icons1
  {
    margin-left: -20px;
  }
}
@media screen and (max-width:577px) {
  
  .first1{
    width:85%  }
}
}
nav img {
  width: 100px;
  height: 70px;
  /* margin-left: -34px; */
  overflow: hidden;
}

.navbar {
  background-color: #37517e;
}

/* Navigation Bar: List Styling */

.navbar ul 
{
  margin: 0px 0px 0px 427px;
  display: flex;
  font-size: medium;
}

.navbar ul li {
  margin-right: 20px;
  color: #0000008c;
  font-family: 'Arima', cursive;
  font-family: 'Fredoka One', cursive;
}
.navbar a{
  font-family: 'Poppins', sans-serif;
  color: white !important;
}
.navbar ul li a:hover{
  text-decoration: underline;
}
.nav-item button
{
  background: none;
  border-radius: 40px;
  border: 2px solid white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
}



#alumni_profile
{
  background-color:  #37517e;
  height: 32px;
  color: white;
  width: 73px;
}

.filtering-box{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.filters
{
  padding: 12px 12px;
  background-color: white;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
}
.filters p{
  padding: 12px 12px;
}

.filters h3
{
  padding: 12px 12px;
  font-family: 'Merriweather', serif;
}



#myInput {
  /* background-image: url('./searchicon.png'); */
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 72px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searcher
{
  float: right !important;
}

.searcher img {
  top: 62px;
  position: absolute;
}

.searcher {
  width: 90%;
  margin-bottom: 10px;
}

.searcher img {
  padding: 21px;
  min-width: 40px;
}
.searcher input
{
  border-radius: 20px;
  padding-left: 50px;
}