.team_heading{
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 45px;
    color: #050118;
    text-shadow: 1px 1px 1px #000000,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #170281,
        1px 7px 1px #140086,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
img{
    height: 140px;
    width: 140px;
    border-radius: 50%;

}

.line1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap:40px;
    margin: auto;
}
.first
{
    background-color:white;
    height: 190px;
    width: 520px;
    border-radius: 12px;
    display: flex;
    /* flex-wrap: wrap; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    transition: 1s;
}
.first:hover{
    transform:scale(1.1);
    z-index: 2;
    box-shadow: 2px 2px solid #000;

}
h2{
    color: #194ec0;
}
h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icons{
    margin-top: 20px;
    display: flex;
    cursor: pointer;
   
}
.fa-brands
{
    margin-left: 5px;
    margin-right:5px;
    color: rgb(47, 15, 228);
    border-radius: 5px;
    
}
.text h2
{
    text-align: center;
}
.text h4
{
    width: 300px;
    text-align: center;
}
.text .icons
{
    width: 147px;
    margin: auto;
}
@media screen and (max-width:645px) 
{
   .first:hover{
    transform: scale(1);
   } 
}
@media screen and (max-width:504px) 
{
    .first
    {
       width: 90%;
       display: flex;
       flex-direction: column;
       height: 340px;
    }
    .man
    {
        height: 360px;
    }
    .img
    {
        margin: auto;
        /* width: 100%; */
    }
    .text .icons
    {
        margin-bottom: 10px;
    }
    .text h4
    {
         width: 95%;
         /* text-align: center; */
    }
}
@media screen and (min-width:505px)
{
    .img
    {
        margin-left: 20px;
        margin-top: 20px;
    }
} 